body{background-image: url("./img/estilo/textura.jpg");
    }
#wrapper{width: 100%;
    text-align: center;
    margin: 15px;
    width: auto;
    }
#header{
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: white;
    height: 167px;
    margin-bottom: 20px;
    }
#content{
    background-color: white;
    height: auto;
    padding:20px;
    font-family:Arial, Helvetica, sans-serif;
    }
.imgcircular{border-radius:50%;
    }
*{margin: 0px;
    padding: 0px;
    }
ul,ol{list-style:none;
    }
.nav>li{float:left;
    }
.nav li a{background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    }
.nav li a:hover{background-color:#434343;
    }
.nav li ul{display:none;
    position:absolute;
    min-width:140px;
    }
.nav li:hover > ul {display:block;
    }
.nav li ul li {position:relative;
    }
.nav li ul li ul {right:-140px;
    top:0px;
	}
.division{display:flex;
    }
.cont{width:auto;
    padding: 10px;
    }
.footer{display: inline-flex;
    }
.zoom{/* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s;   
    }
.zoom:hover{/* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
    transform : scale(1.5);
    }
.sampletext {
    border: solid;
    width: 320px;
    height: 35px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.boton{
    padding: 5px;
    border: none;
    background: rgba(0,0,0,0);
    color: #0080FF;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    box-shadow: inset 0 0 0 3px #0080FF;
}
.boton:hover {
    background: #0080FF;
    color: #f2f2f2;
}

/* Ocultar botón radio */
input[id^="spoiler"]{
display: none;
}
/* Estilo botón clicable */
input[id^="spoiler"] + label {
display: block;
width: 250px;
margin: 0 auto;
padding: 5px 20px;
background: #6FFD2C;
cursor: pointer;
}
/* Estilo botón cuando su INPUT está seleccionado */
input[id^="spoiler"]:checked + label {
color: #333;
background: #ccc;
}
/* Estilo caja SPOILER (inicialmente oculto) */
input[id^="spoiler"] ~ .spoiler {
width: 250px;
height: 0;
overflow: hidden;
opacity: 0;
margin: 10px auto 0; 
}
/* Estilo caja SPOILER cuando su INPUT está seleccionado */
input[id^="spoiler"]:checked + label + .spoiler{
height: auto;
opacity: 1;
}
